<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixRegions_10000000</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
			<key>Rtc8Allowed</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>IsctTabl</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>SaSsdt </string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>BGRT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>slide=0</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Fast</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>0</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<true/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>FullTitle</key>
					<string>El Capitan</string>
					<key>Type</key>
					<string>OSX</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>FullTitle</key>
					<string>Windows 10</string>
					<key>Type</key>
					<string>Windows</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>FullTitle</key>
					<string>Install Windows</string>
					<key>Type</key>
					<string>Windows</string>
					<key>VolumeType</key>
					<string>External</string>
				</dict>
				<dict>
					<key>FullTitle</key>
					<string>OSX Recovery</string>
					<key>Hidden</key>
					<true/>
					<key>Hotkey</key>
					<string>r</string>
					<key>InjectKexts</key>
					<true/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>FullTitle</key>
					<string>Install OSX</string>
					<key>InjectKexts</key>
					<true/>
					<key>Type</key>
					<string>OSXInstaller</string>
				</dict>
			</array>
		</dict>
		<key>Language</key>
		<string>de:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<false/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>Mavstyle</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KextPatchesAllowed</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>AirPort Extreme Patch</string>
				<key>Find</key>
				<data>
				axAAAHUN
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				axAAAJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Trim Enabler</string>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>XHCI Sleep Fix</string>
				<key>Find</key>
				<data>
				xoDIAAAAAQ==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				xoDIAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA ALC282 (1 of 4)</string>
				<key>Find</key>
				<data>
				PYQI7BA=
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				PQAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA ALC282 (2 of 4)</string>
				<key>Find</key>
				<data>
				PYUI7BA=
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				PQAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA ALC282 (3 of 4)</string>
				<key>Find</key>
				<data>
				PYQZ1BE=
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				PYIC7BA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA ALC282 (4 of 4)</string>
				<key>Find</key>
				<data>
				PYMZ1BE=
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				PQAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>BootGlitchFix</string>
				<key>Find</key>
				<data>
				AQAAdRc=
				</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAAdBc=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11 BT4LE-Handoff-Hotspot</string>
				<key>Find</key>
				<data>
				SIX/dEdIiwc=
				</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA60Q=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change WIFI DE(4445)/US(5553)/RU(5255)</string>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				ZscGREXrKw==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x3</string>
		<key>ROM</key>
		<string>Change from String to Data and use your Wifi MAC Adress here without ::::::: (means only the Numbers/Letters)</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/08/2015</string>
		<key>BiosVersion</key>
		<string>MBP111.88Z.0138.B16.1509081438</string>
		<key>Board-ID</key>
		<string>Mac-189A3D4F975D5FFC</string>
		<key>BoardSerialNumber</key>
		<string>C02NxxxxG3QHxxxxx  (Change the 4 xxxx and 5 xxxxx to anything you want)</string>
		<key>ProductName</key>
		<string>MacBookPro11,1</string>
		<key>SerialNumber</key>
		<string>C02NxxxxG3QH (use the same 4 xxxx like above here)</string>
		<key>SmUUID</key>
		<string>terminal-&gt;UUIDGEN, and change the last section (latest12 chars) to your Wifi Mac Adress</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<string>0x0501  (Remove route (#) and this text if you use this config for USB Installer)</string>
		<key>InjectKexts</key>
		<false/>
	</dict>
</dict>
</plist>
